@import url("https://use.typekit.net/iev0rnf.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./styles/dynamic.scss";

body {
  font-family: "teko", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.icon-gradient {
  fill: url(#gradient);
}

.text-gradient-daily {
  background-image: linear-gradient(to bottom, #0082D9, #39E1FF);
  -webkit-background-clip: text;
  color: transparent;
}

.text-gradient-infinite {
  background-image: linear-gradient(to bottom, #FF4400, #FF8B26);
  -webkit-background-clip: text;
  color: transparent;
}